In [1]:
### Add columns to vertebrate table, to add species picture url

In [2]:
import arcgis
from arcgis.gis import GIS
import pandas as pd

/Users/tamarahuete/opt/anaconda3/envs/arcgis/lib/python3.8/site-packages/arcgis/features/_data/geodataset/utils.py:15: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime,

In [8]:
# ### Run this just once
# env_path = "/Users/tamarahuete/opt/anaconda3/envs/arcgis/.env"
# env_path
# with open(env_path) as f:
#     env = {}
#     for line in f:
#         env_key, _val = line.split("=")
#         env_value = _val.split("\n")[0]
#         env[env_key] = env_value
# aol_password = env['aol_key']
# aol_username = env['aol_username']


# # here we are using the eowilson arcgis online, change to the appropriate gis online organisation account.
# gis = GIS("https://eowilson.maps.arcgis.com", aol_username, aol_password, profile = "half_earth_profile")

In [3]:
gis = GIS(profile = "half_earth_profile")

In [4]:
import re
def create_strict_reg_exp(to_search):
    try:
        reg_exp = f"^{to_search}$"
        #logging.info(f"regular expression is: {reg_exp}")
    except:
        print("There was a problem with the string.")
        return reg_exp

In [5]:
def findItemGetID(csvName, gis):
    try:
        searched_item = gis.content.search(csvName, item_type = "Feature Layer")
        for i in searched_item:
            reg_exp = create_strict_reg_exp(csvName)
            if re.search(reg_exp, i.title)!= None:    
                #logging.info(f"{csvName} has the id: {i.id}")
                return i.id
    except:
        print("There was a problem finding the item")

In [6]:
def getFlayerFromID(item_id):
    item = gis.content.get(item_id)
    flayer = item.layers[0]
    return flayer

In [7]:
def getSDFfromFlayer(flayer):
    sdf = pd.DataFrame.spatial.from_layer(flayer)
    return sdf

In [8]:
#### Get the ID of the table. No extension needed. Not working for some reason. Maybe because we haven't imported re
sp_country_id  = findItemGetID('Terrestrial_vertebrates_by_country_20200617_stewardship',gis)

There was a problem finding the item

In [23]:
sp_country_id  = '159c6daf94f0498883186d052f033759'

In [24]:
spc_flayer =getFlayerFromID(sp_country_id)
spc_flayer

In [25]:
sp_widget_id  = '4688587cf07748b2964e9618b31b66e5'
spw_flayer =getFlayerFromID(sp_widget_id)
spw_flayer

In [26]:
sdf_country = pd.DataFrame.spatial.from_layer(spc_flayer)
#sdf_widget=pd.DataFrame.spatial.from_layer(spw_flayer)

/Users/tamarahuete/opt/anaconda3/envs/arcgis/lib/python3.8/site-packages/arcgis/features/layer.py:2044: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  "esriFieldTypeDate" : pd.datetime,

In [27]:
#### returns a sdf from the query
#### For SQL queries very important. Outer "", inner ''
df = spw_flayer.query(where="url_sp like 'https%'").sdf
#20 min

In [10]:
df.head()
# len(df)
# df.shape

,X,species_name,HBWID,taxa,raw_name,RANGE_AREA_KM2,PROP_RANGE_PROT,status,url_sp,common_name,iucn_cat,ObjectId,SHAPE
0,13,Abeillia abeillei,59223,bird,Abeillia abeillei resident,166623.926253,0.159400,resident,https://lh3.googleusercontent.com/IQ3S_zCP_DRg...,Emerald-Chinned Hummingbird,LC,117,"{""x"": -6242100.923950596, ""y"": 17744.347835214..."
1,28,Ablepharus bivittatus,33589,reptile,Ablepharus bivittatus,703519.214737,0.070124,NA,https://lh3.googleusercontent.com/Z4uQsYrsC2gI...,Twin-Striped Skink,LC,132,"{""x"": 8818144.213215843, ""y"": 7806.19417494499..."
2,29,Ablepharus bivittatus,40791,reptile,Ablepharus bivittatus,703519.214737,0.070124,NA,https://lh3.googleusercontent.com/Z4uQsYrsC2gI...,Twin-Striped Skink,LC,133,"{""x"": 8818144.213215843, ""y"": 7806.19417494499..."
3,30,Ablepharus bivittatus,34300,reptile,Ablepharus bivittatus,703519.214737,0.070124,NA,https://lh3.googleusercontent.com/Z4uQsYrsC2gI...,Twin-Striped Skink,LC,134,"{""x"": 8818144.213215843, ""y"": 7806.19417494499..."
4,31,Ablepharus bivittatus,35027,reptile,Ablepharus bivittatus,703519.214737,0.070124,NA,https://lh3.googleusercontent.com/Z4uQsYrsC2gI...,Twin-Striped Skink,LC,135,"{""x"": 8818144.213215843, ""y"": 7806.19417494499..."

In [13]:
df_simple = df[['species_name','url_sp']]
df_simple.head()

            species_name                                             url_sp
0      Abeillia abeillei  https://lh3.googleusercontent.com/IQ3S_zCP_DRg...
1  Ablepharus bivittatus  https://lh3.googleusercontent.com/Z4uQsYrsC2gI...
2  Ablepharus bivittatus  https://lh3.googleusercontent.com/Z4uQsYrsC2gI...
3  Ablepharus bivittatus  https://lh3.googleusercontent.com/Z4uQsYrsC2gI...
4  Ablepharus bivittatus  https://lh3.googleusercontent.com/Z4uQsYrsC2gI...

In [14]:
df_unique = df_simple.drop_duplicates(keep='first')

In [15]:
df.shape #(1044875, 13)
df_unique.shape #(11425, 2)

(11425, 2)

In [16]:
sdf_country.head()

,AREA_KM2,ObjectId,PERC_PROT,SHAPE,countryname,iso3,species,speciesgroup,stewardship
0,103480,1,0,"{""x"": 7349837.296999998, ""y"": 4006150.33429999...",Afghanistan,AFG,Chrysopaa sternosignata,amphibians,2
1,340,2,0,"{""x"": 7349837.296999998, ""y"": 4006150.33429999...",Afghanistan,AFG,Duttaphrynus olivaceus,amphibians,3
2,328220,3,0,"{""x"": 7349837.296999998, ""y"": 4006150.33429999...",Afghanistan,AFG,Duttaphrynus stomaticus,amphibians,10
3,262070,4,0,"{""x"": 7349837.296999998, ""y"": 4006150.33429999...",Afghanistan,AFG,Euphlyctis cyanophlyctis,amphibians,9
4,22060,5,0,"{""x"": 7349837.296999998, ""y"": 4006150.33429999...",Afghanistan,AFG,Hoplobatrachus tigerinus,amphibians,9

In [17]:
sp_with_urls =pd.merge(left=sdf_country, right = df_unique, left_on='species',right_on = 'species_name')

In [18]:
sp_with_urls.head()

,AREA_KM2,ObjectId,PERC_PROT,SHAPE,countryname,iso3,species,speciesgroup,stewardship,species_name,url_sp
0,340,2,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Duttaphrynus olivaceus,amphibians,3,Duttaphrynus olivaceus,https://lh3.googleusercontent.com/vVWyo-ZzDlmV...
1,107990,74664,5,"{'x': 6045306.2775, 'y': 3836784.3805000037, '...",Iran,IRN,Duttaphrynus olivaceus,amphibians,3,Duttaphrynus olivaceus,https://lh3.googleusercontent.com/vVWyo-ZzDlmV...
2,225890,109773,4,"{'x': 7815752.985599998, 'y': 3544012.30030000...",Pakistan,PAK,Duttaphrynus olivaceus,amphibians,3,Duttaphrynus olivaceus,https://lh3.googleusercontent.com/vVWyo-ZzDlmV...
3,328220,3,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Duttaphrynus stomaticus,amphibians,10,Duttaphrynus stomaticus,https://lh3.googleusercontent.com/u02fukczum-q...
4,116770,9992,1,"{'x': 10050864.7128, 'y': 2729624.355900001, '...",Bangladesh,BGD,Duttaphrynus stomaticus,amphibians,10,Duttaphrynus stomaticus,https://lh3.googleusercontent.com/u02fukczum-q...

In [19]:
df_sorted= sp_with_urls.sort_values(by = ['countryname','speciesgroup','stewardship','AREA_KM2'])
df_sorted.head()

,AREA_KM2,ObjectId,PERC_PROT,SHAPE,countryname,iso3,species,speciesgroup,stewardship,species_name,url_sp
0,340,2,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Duttaphrynus olivaceus,amphibians,3,Duttaphrynus olivaceus,https://lh3.googleusercontent.com/vVWyo-ZzDlmV...
22,22060,5,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Hoplobatrachus tigerinus,amphibians,9,Hoplobatrachus tigerinus,https://lh3.googleusercontent.com/zJtwl3tzbwqG...
13,262070,4,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Euphlyctis cyanophlyctis,amphibians,9,Euphlyctis cyanophlyctis,https://lh3.googleusercontent.com/WehEcj99t19P...
3,328220,3,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Duttaphrynus stomaticus,amphibians,10,Duttaphrynus stomaticus,https://lh3.googleusercontent.com/u02fukczum-q...
9117,158560,243,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Montifringilla theresae,birds,3,Montifringilla theresae,https://lh3.googleusercontent.com/krHKUUKLZK9j...

In [31]:
### addd new column with ranking
df_sorted['highlight'] = df_sorted.groupby(['countryname','speciesgroup']).cumcount()+1

In [29]:
test =

In [33]:
df_sorted.head(10)

,AREA_KM2,ObjectId,PERC_PROT,SHAPE,countryname,iso3,species,speciesgroup,stewardship,species_name,url_sp,highlight
0,340,2,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Duttaphrynus olivaceus,amphibians,3,Duttaphrynus olivaceus,https://lh3.googleusercontent.com/vVWyo-ZzDlmV...,1
22,22060,5,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Hoplobatrachus tigerinus,amphibians,9,Hoplobatrachus tigerinus,https://lh3.googleusercontent.com/zJtwl3tzbwqG...,2
13,262070,4,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Euphlyctis cyanophlyctis,amphibians,9,Euphlyctis cyanophlyctis,https://lh3.googleusercontent.com/WehEcj99t19P...,3
3,328220,3,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Duttaphrynus stomaticus,amphibians,10,Duttaphrynus stomaticus,https://lh3.googleusercontent.com/u02fukczum-q...,4
9117,158560,243,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Montifringilla theresae,birds,3,Montifringilla theresae,https://lh3.googleusercontent.com/krHKUUKLZK9j...,1
11018,1710,297,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Phylloscopus tytleri,birds,3,Phylloscopus tytleri,https://lh3.googleusercontent.com/uZr5iqk07MCV...,2
576,37790,20,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Aegithalos leucogenys,birds,3,Aegithalos leucogenys,https://lh3.googleusercontent.com/Dv4-oxKAGKOr...,3
11370,4260,314,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Pyrrhula aurantiaca,birds,3,Pyrrhula aurantiaca,https://lh3.googleusercontent.com/MlDxT9roUk8m...,4
12429,12100,342,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Sitta cashmirensis,birds,4,Sitta cashmirensis,https://lh3.googleusercontent.com/vH2NYahF3baF...,5
8500,16040,223,0,"{'x': 7349837.296999998, 'y': 4006150.33429999...",Afghanistan,AFG,Passer pyrrhonotus,birds,4,Passer pyrrhonotus,https://lh3.googleusercontent.com/jOchwXMj9gGA...,6

In [34]:
df_sorted.to_csv('species_table_highlights_for_url.csv')